/*
    Mixins permitem definir estilos que podem ser reutilizados em toda folha de estilo
*/

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

div{
    @include border-radius(20px)
}

//Possivel também atribuir valores default
//Permite passar diversos parâmetros em forma de lista
@mixin titulo($size, $color:blue) {
    font-size: $size;
    color: $color;
}

h1{
    @include titulo(2rem)
}

h2{
    @include titulo(2rem, green)
}

//Pode se passar diversos parâmetros
@mixin pad($values...){
    padding: $values;
}